<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alice</title>

    <!-- Conecta o CSS -->
    <link rel="stylesheet" href="/static/css/alice.css">
</head>
<body>

             <!-- Cena 1: A QUEDA -->
    <!-- Essa div engloba tudo que aparece durante a queda -->
    <div id="cena-queda">

        <!-- Alice representada pela letra "A" -->
        <div id="alice" class="alice">A</div>

        <!-- Objetos caindo junto com Alice, cada um tem uma classe diferente pra cair em ritmo diferente -->
        <div class="objeto objeto-1">🕯️</div>
        <div class="objeto objeto-2">📚</div>
        <div class="objeto objeto-3">🗝️</div>
        <div class="objeto objeto-4">🪑</div>

    </div>

            <!-- Cena 2: ACORDAR -->
    <!-- Mensagem que aparece quando Alice está desmaiada, pedindo interação -->
    <div id="mensagem-despertar">
        Clique para acordar
    </div>

            <!-- Cena 3: Ambiente escuro -->
    <!-- Fica escondida até o estado mudar para acordada -->
    <div id="cena-lanterna">

                             <!-- OBJETOS DO AMBIENTE -->
        <!-- Lateral esquerda -->
        <div class="objeto-ambiente"  id="obj-casticai"   style="left:18%; top:15%">🕯️</div>
        <div class="objeto-ambiente"  id="obj-prateleira" style="left:15%; top:48%">📚</div>
        <div class="objeto-ambiente"  id="obj-tela"       style="left:20%; top:78%">🕸️</div>

        <!-- Lateral direita -->
        <div class="objeto-ambiente"  id="obj-chave"      style="right:18%; top:22%">🗝️</div>
        <div class="objeto-ambiente"  id="obj-espelho"    style="right:15%; top:55%">⭕</div>
        <div class="objeto-ambiente"  id="obj-cogumelo"   style="right:20%; top:80%">🍄</div>

        <!-- Buraco de luz -->
        <div id="escuridao"></div>

    </div>

    <button id="btn-mute">🔉</button>

    <!-- Conecta o JS, defer faz eke carregar só depois que o HTML estiver pronto -->
    <script src="/static/js/alice.js" defer></script>


</body>
</html>

